<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="com.jasoet.ap3t.domain.User"/>
        <mapping class="com.jasoet.ap3t.domain.Group"/>
        <mapping class="com.jasoet.ap3t.domain.Role"/>
        <mapping class="com.jasoet.ap3t.domain.Mahasiswa"/>
        <mapping class="com.jasoet.ap3t.domain.Dosen"/>
        <mapping class="com.jasoet.ap3t.domain.Topik"/>
        <mapping class="com.jasoet.ap3t.domain.Proposal"/>
        <mapping class="com.jasoet.ap3t.domain.Pratesis"/>
        <mapping class="com.jasoet.ap3t.domain.Tesis"/>
    </session-factory>
</hibernate-configuration>